@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
    /* font-family: 'Indie Flower', cursive; */
}

body {
    background-color: black;

}